div.extra {
  width: 95%;
  height: 420px;
  position: absolute;
  top: 3150px;
  left: calc(50% - (95% / 2));
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid #e0e0e6;
  z-index: -1;
  padding: 1px 0;
}
div.extra > div {
  width: 323px;
  height: inherit;
  position: absolute;
  display: inline-block;
  text-align: right;
  padding: 8px 20px;
  bottom: 0;
}
div.extra > div:nth-child(1) {
  right: 0;
  border-left: 1px solid #e0e0e6;
}
div.extra > div:nth-child(2) {
  right: 323px;
  border-left: 1px solid #e0e0e6;
}
div.extra > div:nth-child(3) {
  left: 323px;
  border-left: 1px solid #e0e0e6;
}
div.extra > div:nth-child(4) {
  left: 0;
}

div.extra > div > h2 {
  font-size: 18px;
  /* margin-bottom: 1px; */
  font-family: digikala;
  font-weight: 200;
}
div.extra > div > h4 {
  font-size: 12px;
  font-family: digikala;
  color: rgb(158, 158, 158);
  font-weight: 200;
}
div.extra > div > div {
  width: 85%;
  height: 26px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - (85% / 2));
  text-align: center;
}
div.extra > div > div > a {
  font-size: 15px;
  color: #49c1d3;
}
div.extra > div > div.pic {
  width: 85%;
  height: 300px;
  position: absolute;
  top: 80px;
  padding: 5;
}

div.extra > div > div.pic > img {
  object-fit: contain;
  width: 130px;
  height: 138px;
  padding: 8px;
}
